{% extends "blog/base.html" %}
{% load staticfiles%}
{% block content %}

<h1 class="mb-3">Total Number of participants ({{ posts|length }})</h1>
<!-- Example single danger button -->
<fieldset class="form-group">
    <div class="form-group col-md-4">
      <label for="inputState">Avaliable Filters</label>
      <select id="inputState" class="form-control">
        <option selected value="choose">Choose Diff Filters...</option>
        <option value="histogram">Histogram of participant age</option>
        <option value="bmi">Plot of BMI vs age</option>
      </select>
    </div>
</fieldset>
<div id="example1"></div>
<table id= "example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>first Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Phone Number</th>
                <th>Height</th>
                <th>width</th>
                <th>Nurse Name</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.first }}</td>
                <td>{{ post.last }}</td>
                <td>{{ post.date_of_brith|date:"F d, Y"  }}</td>
                <td>{{ post.phone_number }}</td>
                <td>{{ post.height }}</td>
                <td>{{ post.weight }}</td>
                <td>
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="paginator">
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
</div>

{% load calculate_age %}
{% load json_filters %}
<loldiv id="myvar" data="{{posts}}"/>
<script>
    var dataset =[];
    var datasetGraph =[];
     {% for post in posts %}
         dataset.push({name: "{{post.first}} {{post.last}}",age: {{post.date_of_brith|age }}});
         var height = {{ post.height }}/100
         var weight = {{ post.weight }}
         var calc_bmi =  weight/(height*height);
         console.log(Number((calc_bmi).toFixed(2)));
         datasetGraph.push({bmi: Number((calc_bmi).toFixed(2)) ,age: {{post.date_of_brith|age }} ,name: "{{post.first}} {{post.last}}"});

     {% endfor %}
     console.log(datasetGraph);
</script>
<script src="{% static 'blog/main.js' %}"></script>
<script src="{% static 'blog/histogram.js' %}"></script>
<script src="{% static 'blog/graphbmi.js' %}"></script>

   <div id="my_dataviz"></div>
   <div id="bmi">
       <p>this is the fellow</p>
   </div>
{% endblock content %}

